/* signup.css */

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-image: url(pic3.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

/* Signup container styles */
.signup-container {
     max-width: 400px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.4); /* Adding a semi-transparent background color to improve readability */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading styles */
.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

/* Input group styles */
.input-group {
    margin-bottom: 15px;
}

/* Label styles */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Input styles */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

/* Password input container styles */
.password-input {
    position: relative;
}

/* Toggle password visibility button styles */
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
